node_modules

# Vagrant folder
.vagrant/

# local settings
local.env
*.aes
aws.env

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# IDE project files
.idea/
nbproject/

# OS
.DS_Store
Thumbs.db

#yii runtime stuff
application/runtime/

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
