services:
  data:
    image: silintl/data-volume:latest
    container_name: data
    volumes:
        - ./application:/data
  db:
    image: silintl/mariadb:latest
    container_name: db
    ports:
        - "3306:3306"
    environment:
        MYSQL_ROOT_PASSWORD: r00tp@ss!
        MYSQL_DATABASE: appbuilder
        MYSQL_USER: appbuilder
        MYSQL_PASSWORD: appbuilder

  adminer:
    image: adminer
    container_name: db-adminer
    restart: always
    ports:
      - "19080:8080"
    links:
      - db:db.docker

  testDb:
    image: silintl/mariadb:latest
    container_name: testDb
    ports:
        - "3306"
    environment:
        MYSQL_ROOT_PASSWORD: r00tp@ss!
        MYSQL_DATABASE: test
        MYSQL_USER: appbuilder
        MYSQL_PASSWORD: appbuilder
  web:
    build: .
    container_name: web
    volumes_from:
        - data
    ports:
        - "80:80"
    links:
        - db
    env_file:
        - ./common.env
        - ./local.env
  cron:
    build: .
    container_name: cron
    volumes_from:
        - data
    links:
        - db
        - testDb
    env_file:
        - ./common.env
        - ./local.env
    command: /data/run-cron.sh
  composer:
    image: silintl/php-cli:latest
    container_name: composer
    volumes_from:
        - data
    working_dir: /data
    command: composer install --prefer-dist
  cli:
    image: silintl/php-cli:latest
    container_name: cli
    volumes_from:
        - data
    volumes:
        - /tmp:/composer
    links:
        - db
        - testDb
    working_dir: /data
    user: "${DOCKER_UIDGID}"
    env_file:
        - ./common.env
        - ./local.env
    command: ["true"]
  yiimigrate:
    image: silintl/php-cli:latest
    container_name: yiimigrate
    user: "${DOCKER_UIDGID}"
    volumes_from:
        - data
    links:
        - db
    env_file:
        - ./common.env
        - ./local.env
    working_dir: /data
    command: bash -c "whenavail db 3306 100 ./yii migrate --interactive=0 && ./rebuildbasemodels.sh"
  yiimigratetestDb:
    image: silintl/php-cli:latest
    container_name: yiimigratetestDb
    volumes_from:
        - data
    links:
        - testDb
    env_file:
        - ./common.env
        - ./local.env
    working_dir: /data
    command: whenavail testDb 3306 100 ./yii migrate --interactive=0
    environment:
      MYSQL_HOST: testDb
      MYSQL_DATABASE: test
  codecept:
   image: silintl/php-cli:latest
   container_name: codecept
   volumes_from:
       - data
   links:
       - testDb
       - yiimigratetestDb
   env_file:
       - ./common.env
       - ./local.env
   working_dir: /data
   entrypoint: whenavail testDb 3306 100 codecept
   command: run unit
   environment:
     MYSQL_HOST: testDb
     MYSQL_DATABASE: test

