### The following ENV vars are expected to be defined:
MAILER_USERNAME=
MAILER_PASSWORD=
ADMIN_EMAIL=
SAML_IDP=
SAML_ENTITY_ID=
SAML_ADMIN_PASSWORD=
SAML_SECRET_SALT=
SAML_CONTACT_NAME=
SAML_CONTACT_EMAIL=
SAML_SSO_URL=
SAML_SLO_URL=
SAML_CERT_FINGERPRINT=
SAML_ORG_NAME=
SAML_ORG_URL=
FRONT_COOKIE_KEY=af5gsh67d7jhg65sf45g6gyh6h6hx
BUILD_ENGINE_GIT_USER_NAME=SIL AppBuilder Build Agent
BUILD_ENGINE_GIT_USER_EMAIL=appbuild_buildagent@sil.org
BUILD_ENGINE_REPO_PRIVATE_KEY=/data/.ssh/id_rsa
BUILD_ENGINE_REPO_URL=git@bitbucket.org:silintl/appbuilder-ci-scripts
BUILD_ENGINE_REPO_BRANCH=master
BUILD_ENGINE_REPO_LOCAL_PATH=/var/appbuilder/appbuilder-ci-scripts
BUILD_ENGINE_JENKINS_MASTER_URL=
