### The following ENV vars are expected to be defined:
# Used to send notifications about the service
MAILER_USERNAME=
MAILER_PASSWORD=
ADMIN_EMAIL=
#MAILER_HOST=smtp.gmail.com

# For APP_ENV, use: development-USERNAME-MACHINE, staging, or production
# Replace all instances of SOME_KEY with the value chosen
#APP_ENV=development-USERNAME-machine (e.g. development-chrish-win)
APP_ENV=SOME_KEY

# Extract secrets from S3 so that they are not stored in source control
EXPAND_S3_KEY=
EXPAND_S3_SECRET=
EXPAND_S3_FILES=sil-appbuilder-secrets/SOME_KEY/buildengine_api/ssh/id_rsa|/root/.ssh/id_rsa[600,] sil-appbuilder-secrets/SOME_KEY/buildengine_api/ssh/id_rsa.pub|/root/.ssh/id_rsa.pub[600,]

# SSH Key ID of user associated in IAM with the SSH Key in sil-appbuilder-secrets/SOME_KEY/jenkins/appbuilder_ssh
APPBUILDER_GIT_SSH_USER=

# BuildEngine configuration
BUILD_ENGINE_GIT_USER_NAME=SIL AppBuilder Build Agent
BUILD_ENGINE_GIT_USER_EMAIL=appbuilder_buildagent@sil.org
BUILD_ENGINE_REPO_URL=ssh://git-codecommit.us-east-1.amazonaws.com/v1/repos/ci-scripts-SOME_KEY
BUILD_ENGINE_REPO_BRANCH=master
# SSH Key ID of user associated in IAM with the SSH Key in sil-appbuilder-secrets/SOME_KEY/buildengine_api/ssh
# This is required for git repositories hosted by AWS CodeCommit
BUILD_ENGINE_GIT_SSH_USER=

# For development environment using vagrant for docker-appbuilder-jenkins, use:
#BUILD_ENGINE_JENKINS_MASTER_URL=http://192.168.70.241:8080
BUILD_ENGINE_JENKINS_MASTER_URL=
#PUBLISH_JENKINS_MASTER_URL=http://192.168.70.241:8080
PUBLISH_JENKINS_MASTER_URL=

# Built artifacts will be stored in a subdirectory based on APP_ENV name
BUILD_ENGINE_ARTIFACT_URL_BASE=s3://sil-appbuilder-artifacts
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# This should be some unique string REST requests
# (used in "Authorization: Bearer XXXXXX" header)
API_ACCESS_TOKEN=

# This should be some unique string for Admin Web UI
FRONT_COOKIE_KEY=af5gsh67d7jhg65sf45g6gyh6h6hx
