### The following ENV vars are expected to be defined:
BUILD_ENGINE_GIT_USER_NAME=SIL AppBuilder Build Agent
BUILD_ENGINE_GIT_USER_EMAIL=appbuild_buildagent@sil.org
BUILD_ENGINE_REPO_URL=git@bitbucket.org:silintl/appbuilder-ci-scripts
BUILD_ENGINE_REPO_BRANCH=master
BUILD_ENGINE_REPO_LOCAL_PATH=/var/appbuilder/appbuilder-ci-scripts
BUILD_ENGINE_JENKINS_MASTER_URL=http://192.168.70.241
MAILER_USERNAME=appbuilder_buildagent@sil.org
MAILER_PASSWORD=Tywx.-8?FZYzySKD