volumes:
  mysql-data:

services:
  db:
    image: mariadb:10.11
    environment:
      MYSQL_DATABASE: development
      MYSQL_USER: appbuilder
      MYSQL_PASSWORD: 1234
      MYSQL_ROOT_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql/data
