volumes:
  postgres-data:
  valkey-data:

services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: development
      POSTGRES_USER: db-user
      POSTGRES_PASSWORD: 1234
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  valkey:
    image: valkey/valkey:latest
    ports:
      - "6379:6379"
    command: valkey-server --appendonly yes --appendfilename appendonly.aof --maxmemory-policy noeviction
    volumes:
      - valkey-data:/data

  stg-tunnel:
    build:
      context: ./deployment/development
      dockerfile: Dockerfile.stg-tunnel
    ports:
      - "9443:8443"
    # yikes
    command: bash -c "cp -r /root/ssh /root/.ssh; chmod -R 600 /root/.ssh; ssh -N -L \*:8443:localhost:\$(ssh aps-stg \"docker ps --format '{{.Names}} {{.Ports}}' | grep -E 'buildengine.*web' | awk -F '->' '{print \\$1}' | awk -F ':' '{print \\$2}'\") aps-stg"
    volumes:
      - ~/.ssh:/root/ssh
