volumes:
  mysql-data:

services:
  db:
    image: mariadb:10.11
    environment:
      MYSQL_DATABASE: development
      MYSQL_USER: appbuilder
      MYSQL_PASSWORD: 1234
      MYSQL_ROOT_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql/data

  stg-tunnel:
    build:
      context: ./deployment/development
      dockerfile: Dockerfile.stg-tunnel
    ports:
      - "8443:8443"
    # yikes
    command: bash -c "cp -r /root/ssh /root/.ssh; chmod -R 600 /root/.ssh; ssh -N -L \*:8443:localhost:\$(ssh aps-stg \"docker ps --format '{{.Names}} {{.Ports}}' | grep -E 'buildengine.*web' | awk -F '->' '{print \\$1}' | awk -F ':' '{print \\$2}'\") aps-stg"
    volumes:
      - ~/.ssh:/root/ssh
